@charset "utf-8";

/* ***********header */
header {
  justify-content: space-between;
}
header .header-nav {
  border:var(--border);
  width: 91px; height: 91px;
  background-color: var(--color-white);
}
header .header-nav img{
  width: 35px; height: 35px;
  display: block;
  margin: 25px auto;
}
header .header-nav .global-menu {
  display: none;
}
header .header-nav .global-menu li {}
header .header-nav .global-menu li a {}
header .header-contianer-left {
  background-color: var(--color-black);
  width: 211px; height: 91px;
  justify-content: center;
}
header .header-contianer-left h1 {
  color: var(--color-white);
  font-size: var(--font-main-title-sm);
  font-family: var(--font-main-en);
  font-weight: 900;
}
header .header-contianer-left img {
  width: 20px;
}
header .header-contianer-right {
  background-color: var(--color-white);
  border: var(--border);
  width: 241px; height: 91px;
  justify-content: center;
}
header .header-contianer-right h2 {
  color: var(--color-black);
  font-size: var(--font-main-title-sm);
  font-family: var(--font-main-en);
  font-weight: 800;
  
}
header .header-contianer-right img {
  width: 35px;
}

/* ***********footer */

footer .contact .contact-left {
  grid-column: 1/2;
  grid-template-columns: 1fr 1fr;
}
footer .contact .contact-left .deco-box {
  grid-column: 2 / 3;
  place-self: end;
  border-bottom: none;
}
footer .contact .contact-left p {
  border: var(--border);
  width: 360px; height: 120px;
  font-size: var(--font-main-title-sm);
  font-weight: 500;
  text-align: center;
  line-height: 120px;
  border-right: none;
}
footer .contact .contact-left p:nth-of-type(1) {
  border-bottom: none;
}
footer .contact .contact-left p:nth-of-type(2) {
  border-bottom: none;
}
footer .contact .contact-right {
  background-color: var(--color-black);
  width: 720px; height: 332px;
}
footer .contact .contact-right h2 {
  font-family: var(--font-main-en);
  font-size: var(--font-main-title-xlg);
  font-weight: 800;
  color: var(--color-white);
  text-align: center;
  margin: var(--spacing-lg);
}
footer .contact .contact-right .contact-box {
  background-color: var(--color-white);
  width: 481px; height: 91px;
  margin: 0 auto;
  padding: 0 var(--spacing-sm);
  justify-content: space-between;
}
footer .contact .contact-right .contact-box p {
  font-weight: 700;
  line-height: 91px;
}
footer .contact .contact-right .contact-box img {
  width: 25px;
}
footer .contact .deco-wapper .deco-box {
  border-top: none;
}
footer .contact .footer-info {
  margin: var(--spacing-lg) auto;
  width: 70%;
}
footer .contact .footer-info h4 {
  font-family: var(--font-main-en);
  font-size: var(--font-main-title-sm);
  font-weight: 800;
  padding: 0 var(--spacing-xsm);
}
footer .contact .footer-info h2{
  font-family: var(--font-main-en);
  font-size: var(--font-main-title-Xlg);
  font-weight: 800;
}
